.nombrecompleto{
    border: 5px solid black;
    margin-left: 100px;
    margin: 10px;
    height: 30px;
    width: 600px;
}
.mail{
    border: 5px solid black;
    margin: 10px;
    height: 30px;
    width: 600px;
}
.nombretext{
    font-family:"letra quick";
    font-size: 25px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
    margin-left: 150px;
}
.emailtext{
    font-family:"letra quick";
    font-size: 25px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
}
.mensaje{
    border: 5px solid black;
    margin-left: 540px;
    height: 400px;
    width: 800px;
}
.enviarmensaje{
    border: 5px solid black;
    margin-left: 640px;
    height: 30px;
    width: 600px;
}
.footer{
    font-family:"letra quick" ;
    font-weight: bold;
    background-color: rgb(1, 109, 192);
    height: 30%;
}
.textof{
    color: white;
    margin-left: 800px;
    text-align: center;
    margin-left: 13px;
    margin-top: 2%;
}
.contactanos{
    color: white;
    margin-left: 870px;
    text-align: center;
    margin-left: 13px;
}