.main1{
    min-height: 100vh;
    background-image: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.5)), url(../img/932701.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    div .arabia{
        font-family:"letra quick";
        box-sizing: border-box;
        font-size: 25px;
        color: white;
        font-weight: bold;
        text-align: center;
        margin-top: 200px;
        margin-right: 100px;
    }
}

.contenedor{
    display: flex;
}
.arabias{
    box-shadow: 7px 6px 0px 2px black;
    margin: 10px 180px 110px 90px;
    width: 1708px;
    height: 400px;
    flex-wrap: wrap;
}
.contenedor2{
    display: flex;
}
.polonias{
    box-shadow: -4px 3px 2px 2px black;
    margin-top: 10px;
    margin-left: 250px;
    margin-right: 120px;
    width: 2900px;
    height: 400px;
    margin-bottom: 110px;
    flex-wrap: wrap;
}
.main1 div .polonia{
    font-family: "letra quick";
    font-size: 25px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 125px;
    margin-left: 127px;
}
.contenedor3{
    display: flex;
}
.Mexicas{
    box-shadow: 7px 6px 0px 2px black;
    margin-top: 10px;
    margin-left: 91px;
    margin-right: 96px;
    width: 1563px;
    height: 400px;
    margin-bottom: 80px;
    flex-wrap: wrap;}
.main1 div .Mexico{
    font-family:"letra quick";
    font-size: 25px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 200px;
    margin-left: 0px;
    margin-right: 44px;
}
.contenedor4{
    display: flex;
}
.australias{
    box-shadow: -4px 3px 2px 2px black;
    margin-top: 10px;
    margin-left: 250px;
    margin-right: 120px;
    width: 2900px;
    height: 400px;
    margin-bottom: 110px;
    flex-wrap: wrap;
}
.main1 div .australia{
    font-family: "letra quick";
    font-size: 25px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 159px;
    margin-left: 129px;
}
.contenedor5{
    display: flex;
}
.holandas{
    box-shadow: 7px 6px 0px 2px black;
    margin-top: 10px;
    margin-left: 79px;
    margin-right: 90px;
    width: 3081px;
    height: 400px;
    margin-bottom: 110px;
    flex-wrap: wrap;
}
.main1 div .holanda{
    font-family: "letra quick";
    font-size: 25px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 157px;
    margin-left: 150px;
    margin-right: 169px;
}
.contenedor6{
    display: flex;
}
.croacias{
    box-shadow: -4px 3px 2px 2px black;
    margin-top: 10px;
    margin-left: 250px;
    margin-right: 120px;
    width: 2000px;
    height: 400px;
    margin-bottom: 110px;
    flex-wrap: wrap;
}
.main1 div .croacia{
    font-family:"letra quick";
    font-size: 25px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 200px;
    margin-left: 200px;
}
.contenedor7{
    display: flex;
}
.francias{
    box-shadow: 7px 6px 0px 2px black;
    margin-top: 10px;
    margin-left: 150px;
    margin-right: 150px;
    width: 1900px;
    height: 400px;
    margin-bottom: 80px;
    flex-wrap: wrap;
}
.main1 div .francia{
    font-family:"letra quick";
    font-size: 25px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 200px;
    margin-left: 0px;
    margin-right: 47px;
}