.the-best{
    display: flex;
}
.messifoto{
    margin-top: 10px;
    margin-left: 150px;
    margin-right: 180px;
    width: 800px;
    height: 400px;
    text-align: center;
    margin-bottom: 110px;
    flex-wrap: wrap;
    border-radius: 10px;
}
.main3 div .messipremio{
    font-family:"letra quick";
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 200px;
    margin-left: -20px;
}
.the-best2{
    display: flex;
}
.dibufoto{
    margin-top: 10px;
    margin-left: 250px;
    margin-right: 120px;
    width: 1000px;
    height: 400px;
    margin-bottom: 110px;
    flex-wrap: wrap;
    border-radius: 10px;
}
.main3 div .dibupremio{
    font-family:"letra quick";
    font-size: 25px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 200px;
    margin-left: 200px;
}
.contenedormessi{
    display: flex;
    flex-direction: column;
}
.contenedorenzo{
    display: flex;
    flex-direction: column;
}
.dibu{
    display: flex;
    flex-direction: column;
}
.contenedordibuyenzo{
    display: flex;
}
.the-best3{
    display: flex;
}
.scalonifoto{
    margin-top: -80px;
    margin-left: 150px;
    margin-right: 150px;
    width: 800px;
    height: 400px;
    margin-bottom: 80px;
    flex-wrap: wrap;
    border-radius: 10px;
}
.main3 div .scalonipremio{
    font-family:"letra quick";
    font-size: 25px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 80px;
    margin-left: 0px;
    margin-right: 0px;
}
.the-best4{
    display: flex;
}
.inchada{
    margin-top: 10px;
    margin-left: 250px;
    margin-right: 120px;
    width: 1000px;
    height: 400px;
    margin-bottom: 110px;
    flex-wrap: wrap;
    border-radius: 10px;
}
.main3 div .inchadapremio{
    font-family:"letra quick";
    font-size: 25px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 200px;
    margin-left: 200px;
}